{% extends "learning_blogs/base.html" %}
{% block header %}
<div class='jumbotron'>
    <h1>Track your learning.</h1>
</div>
{% endblock header %}

{% block content %}
<h2>
<a href="{% url 'users:register' %}">Register an account</a> to make
your own Learning Log, and list the topics you're learning about.
</h2>
<h2>
Whenever you learn something new about a topic, make an entry
summarizing what you've learned.
</h2>
<P>
    <a href="{% url 'learning_blogs:topics' %}">Learning blog topics</a>
</P>
<P>
    <a href="{% url 'learning_blogs:new_topic' %}">Add a new topic</a>
</P>
<p>
    Learning Log helps you keep track of your learning, for any topic you're learning about.
</p>
{% endblock content %}